@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;

}

body {

    width: 100%;
    height: 100%;

}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

input {
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 10px;
}

button {
    background-color: brown;
    color: white;
    width: 80%;
    height: 50px;
}

button:hover {
    background-color: rgb(107, 26, 26);
    cursor: pointer;
}

label {
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.imc-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    background-color: rgb(122, 122, 122);
    color: white;
    width: 80%;
    height: 40%;
    margin-bottom: 10px;
    font-size: 20px;

}